ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4697a1;
}

div{
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    border: 1.5px solid #4697a1;
}

p{
    text-align: right;
    padding-right: 10px;
    padding-left:10px; 
}

header{
    text-align: center;
    color: #4697a1;
    font-style: Monospace;
    font-size: 30px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
}
