<router-outlet></router-outlet>
<input type="text" id="firstName" name="firstName" placeholder="firstName">
<input type="text" id="laststName" name="laststName" placeholder="laststName">

<!-- <input type="image" id="image" name="image"> -->

<br>
<input type="email" id="gmail" name="gmail" placeholder="gmail">
<input type="text" id="nickname" name="nickname" placeholder="nickname">
<br>
<input type="password" id="password" name="password" placeholder="password">
<label for="gender">Choose your gender:</label>
<select id="gender" name="gender">
    <option value="Other">Other</option>
    <option value="Female">Female</option>
    <option value="Male">Male</option>
</select>
<br>
<input type="password" id="password" name="password" placeholder="same password">
<button routerLink="#" routerLinkActive="active">create an account</button>
<button routerLink="" routerLinkActive="active">i have an account</button>
