<router-outlet></router-outlet>
<div>
    <p>:חוקי המשחק</p>
    <p>כל משתמש בתורו יבחר מילה מתוך 3 מילים שיוצגו בפניו</p>
    <p>אותו אדם יצטרך לצייר את אותה המילה שבחר</p>
    <p>שאר החברים יצטרכו לנסות ולגלות את מה שהוא מצייר</p>
    <p>אם הוא טעה, מה שהוא כתב יופיע לכל החברים</p>
    <p>אם הוא צדק יופיע לכל החברים שהוא גילה את התשובה, אך לא יגיד עדין את התשובה</p>
    <p>רק בתום הזמן שיוקצב מראש, התוכנה תגלה את התשובה נכונה, או אם כל החברים יצליחו לגלות את התשובה השלב הזה יסתיים אוטומטית</p>
    <p>לאחר תום הזמן, יגיע תורו של חבר אחר</p>
    <p>כל חבר יקבל נקודות על כל תשובה נכונה. בתלות בזמן שבוא הוא גילה את התשובה, וללא התייחסות לכמות הניסיונות שטעה בהן</p>
    <p>לבסוף ינצח מי שאם המספר הנקודות הגדול ביותר</p>
</div>
